@model Wiki.ViewModels.ArticleEditViewModel

<div class="row" style="min-height: 5vh"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form asp-action="New" asp-controller="Edit" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <div class="row">
                <h2>
                    Правка статьи
                </h2>
            </div>
            <div class="row">
                <div class="col-md-3"><h4><label asp-for="Название">Название:</label></h4></div>
                <div class="col-md-9">
                    <h4>
                        @Model.Название
                    </h4>
                </div>
                <input asp-for="Название" type="hidden" value="@Model.Название" />
                <input asp-for="IdСтатьи" type="hidden" value="@Model.IdСтатьи" />
            </div>
            <div class="row">
                <div class="col-md-3"><h4><label asp-for="СловарнаяСтатьяТег">Теги:</label></h4></div>
                <div class="col-md-9">
                    <h4>
                        @foreach (var tag in Model.СловарнаяСтатьяТег)
                        {
                            <span class="tag tag-default">@tag.КодТегаNavigation.Название</span>
                        }
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h4>
                        <label asp-for="КодЧастиРечи">Выберите часть речи: </label>
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4><select asp-for="КодЧастиРечи" asp-items="ViewBag.allPartsOfSpeech" class="form-control"></select></h4>
                    <span asp-validation-for="КодЧастиРечи" />

                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="col-md-6 float-right">
                <img src="@Url.Content(Model.ПутьДоИзображения)" class="img-thumbnail float-right" style="height: 250px; float:right">
            </div>
            <div class="row">
                <div class="col-md-3"><h4><label asp-for="Изображение">Изображение:</label></h4></div>
                <div class="col-md-6">
                    <input asp-for="Изображение" class="form-control" accept="image/*" />
                </div>
                <div class="col-md-3"></div>
            </div>
            <audio controls>
                <source src="@Url.Content(Model.ПутьДоАудио)" type="audio/mpeg">
            </audio>
            <div class="row">
                <div class="col-md-3"><h4><label asp-for="Аудио">Аудио:</label></h4></div>
                <div class="col-md-6">
                    <input asp-for="Аудио" class="form-control" accept="audio/mp3" />
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="cal-md-12">
                    <h4><label asp-for="ТекстСтатьи">Редактируйте текст статьи</label></h4>
                    <textarea asp-for="ТекстСтатьи" value="@Model.ТекстСтатьи" rows="5" class="form-control"></textarea>
                    <span asp-validation-for="ТекстСтатьи" />
                </div>
            </div>
            <div class="row" style="min-height: 1vh"></div>
            <div class="pull-xs-right">
                <input type="submit" value="Отправить на проверку" class="btn btn-outline-primary" />
            </div>
        </form>
        <div class="col-md-1"></div>
    </div>
</div>
