@model Wiki.ViewModels.EditViewAllViewModel
@{
    ViewData["Title"] = "ViewAll";
}


<div class="row" style="min-height: 5vh"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3">
                <h2>
                    Мои правки:
                </h2>
            </div>
        </div>
        @foreach (var edit in Model.ВсеПравки)
        {
            <div class="row">
                <div class="col-md-3"><a asp-controller="Edit" asp-action="Index" asp-route-edit_id="@edit.IdПравки">@edit.Название</a></div>
                <div class="col-md-3">
                    @switch (edit.КодСтатуса)
                    {
                        case 0:
                            <span class="tag tag-info">@edit.КодСтатусаNavigation.Название</span>
                            break;
                        case 1:
                            <span class="tag tag-warning">@edit.КодСтатусаNavigation.Название</span>
                            break;
                        case 2:
                            <span class="tag tag-success">@edit.КодСтатусаNavigation.Название</span>
                            break;
                        case 3:
                            <span class="tag tag-danger">@edit.КодСтатусаNavigation.Название</span>
                            break;
                    }
                </div>
                <div class="col-md-3"><span>@edit.ДатаИзмененияСтатуса.ToShortDateString()</span></div>
            </div>
        }
    </div>
    <div class="col-md-1"></div>
</div>
