@model Wiki.НазначенныйМодератор

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_AdminMaster.cshtml";

}

<h2>Details</h2>

<div>
    <h4>НазначенныйМодератор</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ДатаНазначения)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ДатаНазначения)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdПользователяNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdПользователяNavigation.EMail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdСтатьиNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdСтатьиNavigation.Название)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdНазначенногоМодератора">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
