@using System.Security.Claims
@using Microsoft.AspNetCore.Http;
@{
    string root = $"{Context.Request.Scheme}://{Context.Request.Host}";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="@root/css/modal_window.css" />
    <link rel="stylesheet" href="@root/css/my_sheet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
</head>
<body>
    <!--меню-->
    <nav class="navbar navbar-dark bg-inverse">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="~/Home/Index" class="navbar-brand">Главная</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="pull-xs-right">
                            <li class="nav-item"><span class="navbar-text">@User.Claims.FirstOrDefault(u => u.Type == ClaimsIdentity.DefaultRoleClaimType).Value</span></li>
                            <li class="nav-item"><span class="navbar-text">@User.Claims.FirstOrDefault(u => u.Type == "FullName").Value</span></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">&#9776;</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Index">Профиль</a>
                                    <a class="dropdown-item" asp-controller="Edit" asp-action="ViewAll">Мои правки</a>
                                    <a class="dropdown-item" asp-controller="Article" asp-action="New">Создать статью</a>
                                    @if (@User.Claims.FirstOrDefault(u => u.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "Модератор")
                                    {
                                        <a class="dropdown-item" asp-controller="Edit" asp-action="CheckAll">Модерация</a>
                                    }
                                    @if (@User.Claims.FirstOrDefault(u => u.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "Администратор")
                                    {
                                        <a class="dropdown-item" asp-controller="Edit" asp-action="CheckAll">Модерация</a>
                                        <a class="dropdown-item" asp-controller="Пользователь" asp-action="Index">Панель администратора</a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Выход</a>
                                </div>
                            </li>
                        </div>
                    }
                    else
                    {
                        <div class="pull-xs-right">
                            <li class="nav-item"><a asp-controller="Account" asp-action="Login" class="navbar-link">Вход</a></li>
                            <li class="nav-item"><a asp-controller="Account" asp-action="Register" class="navbar-link">Регистрация</a></li>
                        </div>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!--основной контент-->
    <div class="container body-content" style="margin-bottom: 100px">
        <div id="myModal">
            <p>Вы уже долго на нашем сайте</p>
            <p>Зарегистрируйтесь или войдите, чтобы получить больше возможностей!</p>
            <a asp-controller="Account" asp-action="Login" class="btn btn-primary" id="myModal_login">Вход</a>
            <a asp-controller="Account" asp-action="Register" class="btn btn-outline-primary" id="myModal_register">Регистрация</a>
            <span id="myModal__close" class="close">ₓ</span>
        </div>
        <div id="myOverlay"></div>
        @RenderBody()
        <div class="navbar-fixed-bottom row-fluid">
            <hr />
            <div class="navbar-inner">
                <div class="container">
                    <footer>
                        <p>© 2021 - Wiki-словарь</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="@root/node_modules/jquery/dist/jquery.min.js"></script>
<script src="@root/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="@root/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
<script src="@root/js/moment.min.js"></script>
<script>
    $(document).ready(function () {
        var url = window.location.href;
        if (!(~url.indexOf("Login") || ~url.indexOf("Register"))) {
            var delay = 120;
            var closed = sessionStorage.getItem("closed");
            if ("@User.Identity.IsAuthenticated" == "False" && closed !== "Yes") {
                var intervalId = window.setInterval(function () {
                    var now_time = moment();
                    var begin_time = "@Context.Session.GetString("BeginTime")";
                    if (begin_time != "null") {
                        var beg_time = moment(begin_time, "hh:mm:ss");
                    };
                    if (now_time.diff(beg_time, "seconds") > delay) {
                        $('#myOverlay').fadeIn(297, function () {
                            $('#myModal')
                                .css('display', 'block')
                                .animate({ opacity: 1 }, 198);
                        });
                        clearInterval(intervalId);
                    };
                }, 3000);
            };
            $('#myModal__close, #myOverlay').click(function () {
                $('#myModal').animate({ opacity: 0 }, 198, function () {
                    $(this).css('display', 'none');
                    $('#myOverlay').fadeOut(297);
                });
                sessionStorage.setItem("closed", "Yes");
            });
            $('#myModal_login').click(function () {
                sessionStorage.setItem("closed", "Yes");
            });
            $('#myModal_register').click(function () {
                sessionStorage.setItem("closed", "Yes");
            });
        };
    });
</script>
@RenderSection("scripts", false)
</html>