@model IEnumerable<Wiki.СловарнаяСтатья>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminMaster.cshtml";
}

<h2>Словарная статья</h2>

<div>
    <a asp-action="Create" class="btn btn-outline-primary">Создать</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Название)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ТекстСтатьи)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ПутьДоИзображения)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ПутьДоАудио)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.СтатьяГотова)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdСловаNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.КодЧастиРечиNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Название)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ТекстСтатьи)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ПутьДоИзображения)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ПутьДоАудио)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.СтатьяГотова)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdСловаNavigation.Название)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.КодЧастиРечиNavigation.Название)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdСтатьи">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdСтатьи">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdСтатьи">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
