@model IEnumerable<Wiki.Комментарий>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminMaster.cshtml";

}

<h2>Комментарий</h2>

<div>
    <a asp-action="Create" class="btn btn-outline-primary">Создать</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ТекстКомментария)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ВремяНаписания)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdПользователяNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdПравкиNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ТекстКомментария)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ВремяНаписания)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdПользователяNavigation.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdПравкиNavigation.Название)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdКомментария">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdКомментария">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdКомментария">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
