@model IEnumerable<Wiki.ЧастьРечи>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminMaster.cshtml";
}

<h2>Часть речи</h2>

<div>
    <a asp-action="Create" class="btn btn-outline-primary">Создать</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Название)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Название)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.КодЧастиРечи">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.КодЧастиРечи">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.КодЧастиРечи">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
